@model List<BonusProjectDeveloperDto>
@{ Html.RenderPartial("_ModalHeader", new EMS.Web.Models.Others.ModalHeader { Heading = "Bonus Running Projects" }); }

<div class="modal-body">
    @if (Model.Any())
    {
        int index = 0;
        <table class="table table-stats">
            <thead>
                <tr>
                    <td style="width:6%">S.No.</td>
                    <td style="width:17%">Actual Dev.</td>
                    <td style="width:17%">Virtual Dev.</td>
                    <td style="width:35%">Project</td>
                    <td style="width:25%">Model</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                    {
                    <tr>
                        <td>@(++index)</td>
                        <td>@item.DevName</td>
                        <td>@item.VirDevName</td>
                        <td>@string.Format("{0} [{1}]", item.ProjectName, item.CRMProjectId)</td>
                        <td>@item.ModelName</td>
                    </tr>
                    }
            </tbody>
        </table>
    }
    else
    {
        <h4>No project found</h4>
    }
</div>