@using EMS.Core
@using EMS.Web.Models.Others
@model ComplaintDto
@{
    ViewBag.Title = "Complaint";
}


<div class="main_content">
    <div class="full-wdth padding20">
        @{
            Html.RenderPartial("_Notification");
        }
        <div id="MessageDiv"></div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Complaints</h2>
            </div>
            @if (CurrentUser.RoleId == (int)Enums.UserRoles.HRBP || CurrentUser.RoleId == (int)Enums.UserRoles.PM)
            {
                <div class="col-sm-8 text-right">
                    <a class="btn btn-custom" href="@Url.Action("add")">Add New</a>
                </div>
            }
        </div>
        <div class="row" style="padding-top:2%">
            <div class="col-sm-12">
                <div class="col-md-3 form-group pull-right">
                    <div class="form-group" id="projectSelect">
                        @Html.DropDownListFor(model => model.ProjectId, ViewBag.ProjectList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
                @if (CurrentUser.RoleId == (int)Enums.UserRoles.HRBP || CurrentUser.RoleId == (int)Enums.UserRoles.PM)
                {
                    <div class="col-md-3 form-group pull-right">
                        <div class="form-group" id="EmployeeSelect">
                            @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-3 form-group pull-right">
                        <div class="form-group" id="techSelect">
                            @Html.DropDownListFor(model => model.PriorityId, Model.Priority, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-12" style="padding-top:1%">
                <div class="filter-sec">
                    <div class="filter-grp">
                        @Html.CheckBox("Internal")
                        <label for="InternalCheck" class="control-label" value="1">Internal</label>
                    </div>
                    <div class="filter-grp">
                        @Html.CheckBox("Client")
                        <label for="ClientCheck" class="control-label" value="2">Client</label>
                    </div>


                </div>


            </div>



            <div class="col-md-12 form-group">
                <div class="form-group text-right">
                    <input type="button" class="btn btn-custom" id="btnSearch" value="Search" />
                    <input type="button" class="btn btn-custom" id="btnReset" value="Reset" />
                </div>
            </div>
        </div>
        <table id="grid-complaints-table" class="display postable table table-stats table-condensed"></table>
    </div>
</div>
<div class="divoverlay hide"></div>
@{
    Html.RenderPartial("_Modal", new Modal { ID = "modal-delete-complaint", AreaLabeledId = "lbl-delete-complaint", Size = Enums.ModalSize.Medium });
    Html.RenderPartial("_Modal", new Modal { ID = "modal-add-edit-complaint", AreaLabeledId = "modal-add-edit-complaint-label", Size = Enums.ModalSize.Large });
}

@section scripts{

    @*<script src="~/bundles/Select2" asp-append-version="true"></script>*@
    <script src="~/bundles/Complaint/index"></script>


}

