@model List<ProjectAdditionalSupportDto>

@{await Html.RenderPartialAsync("_ModalHeader", new EMS.Web.Models.Others.ModalHeader { Heading = "Additional Support Details" }); }

<div class="modal-body">
    @if (Model != null)
    {
        <table class="table table-stats">
            <thead>
                <tr>
                    <td style="width:5%">S.No.</td>
                    <td style="width:10%">Project</td>
                    <td style="width:15%">Reason for Additional support</td>
                    <td style="width:28%">Period</td>
                    <td style="width:27%">Status</td>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@(++index)</td>
                            <td>@item.ProjectName</td>
                            <td>@item.Description</td>
                            <td>@item.Period</td>
                            <td>@item.StatusText</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <span> No data found</span>
    }

</div>
