@using EMS.Web.Models.Others
@model ViewProjectClosureDto
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <style>
        #tblClosure_Details.table-striped > tbody > tr:nth-of-type(2n+1) {
            background-color: #e9e9e9;
        }

        #tblClosureReview.table-striped > tbody > tr:nth-of-type(2n+1) {
            background-color: #e9e9e9;
        }

        #tblClosure_Details tr {
            color: #333;
        }

        #tblClosure_Details td {
            padding: 10px 7px;
        }

        #tblClosureReview td {
            padding: 10px 7px;
        }

        #tblClosure_Details, #tblClosureReview {
            font-size: 17px;
        }
    </style>
    <title>
        @Model.ProjectName
    </title>
</head>
<body>

    <div>
        <h4>PROJECT CLOSURE DETAILS (@Model.ProjectName)</h4>
        <div>

            <table id="tblClosure_Details" class="table table-striped table-no-border">
                <tr>
                    <td width="17%"><strong>Date of Closing : </strong></td>
                    <td colspan="3" width="83%">@Model.DateOfClosing</td>
                </tr>

                <tr>
                    <td width="17%"><strong>Client Name : </strong></td>
                    <td colspan="3" width="83%">@Model.ClientName</td>
                </tr>

                <tr>
                    <td width="17%"><strong>Project Status : </strong></td>
                    <td width="33%">@Model.CRMStatus</td>
                    <td width="17%"><strong>Client Quality : </strong></td>
                    <td width="33%">@Model.ClientQuality</td>
                </tr>

                <tr>
                    <td width="17%"><strong>Project Live Url : </strong></td>
                    <td colspan="3" width="83%">@Model.LiveUrl</td>
                </tr>

                <tr>
                    <td width="17%"><strong>Technogies : </strong></td>
                    <td colspan="3" width="83%">@Model.Technologies</td>
                </tr>

                <tr>
                    <td width="17%"><strong>Lead Developer : </strong></td>
                    <td width="33%">@Model.DeveloperName</td>
                    <td width="18%"><strong>Other Developers : </strong></td>
                    <td width="32%">@Model.VirtualDeveloperName</td>
                </tr>

                <tr>
                    <td width="17%"><strong>BA Name : </strong></td>
                    <td width="33%">@Model.BA_Name</td>
                    <td width="17%"><strong>TL Name : </strong></td>
                    <td width="33%">@Model.TL_Name</td>
                </tr>

                <tr>
                    <td width="17%"><strong>Closing Reason : </strong></td>
                    <td colspan="3" width="83%">@Html.Raw(Model.Reason)</td>
                </tr>

                <tr>
                    <td width="17%"><strong>Suggestions : </strong></td>
                    <td colspan="3" width="83%">@Html.Raw(Model.Suggestion)</td>
                </tr>

            </table>

            @if (!string.IsNullOrWhiteSpace(Model.ReviewComments))
            {
                <h4><u>CLOSURE REVIEW</u></h4>
                <table id="tblClosureReview" style="width: 100%" class="table table-striped table-no-border">
                    <tr>
                        <td width="17%"><strong>Promising :</strong></td>
                        <td colspan="3" width="83%"><p>@Model.PromisingPercentage</p></td>
                    </tr>
                    @if (!string.IsNullOrWhiteSpace(Model.ProjectMayStartDate))
                    {
                        <tr>
                            <td width="18%"><strong>May start again on :</strong></td>
                            <td width="32%">@Model.ProjectMayStartDate</td>
                            <td width="19%"><strong>Number of Developers :</strong></td>
                            <td width="31%">@Model.DeveloperCount</td>
                        </tr>
                    }
                    <tr>
                        <td width="17%"><strong>Comments :</strong></td>
                        <td width="83%" colspan="3"><p>@Model.ReviewComments</p></td>
                    </tr>
                </table>
            }

        </div>
    </div>
</body>
</html>  